@page
@model QuarantineSystem1.Pages.PersonList.IndexModel

<br />
<div class="container row p-0 m-0">
    <div class="col-9">  
        <h2 class="text-info">Person List</h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info from-control text-white">Add new person</a>
    </div>


    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Persons.Count() > 0)
            {
                <table class="table striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Persons.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            @*Html.DisplayNameFor(m => m.Persons.FirstOrDefault().Address)*@
                            <label asp-for="Persons.FirstOrDefault().Address"></label>
                        </th>
                        <th>
                            <label asp-for="Persons.FirstOrDefault().Barcode"></label>

                        </th>
                    </tr>
                    @foreach (var item in Model.Persons)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Name)

                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Address)

                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Barcode)

                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick=" return confirm('are sure you want to Delete?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Edit</a>
                            </td>
                        </tr>

                    }
                </table>
            }
            else
            {
                <p>no person available</p>
            }
        </form>
    </div>

   

@section Scripts{

   <script src="~/js/personList.js"></script>

 }